<div class="container mt-5 justify-content-center">
  <div class="clearfix mb-3">
    <div class="float-left">
      <button class="btn btn-primary btn-create" [routerLink]="['/create']">
        <span class="symbol">&#x2B;</span>Új Dolgozó
      </button>
    </div>
  </div>
  <div class="row table-responsiv">
    <div class="text-center col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Név</th>
            <th scope="col">Beosztás</th>
            <th scope="col">Telefonszám</th>
            <th scope="col">Szervezeti Egység</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.workRole }}</td>
            <td>{{ employee.phoneNumber }}</td>
            <td>{{ employee.organizationUnit }}</td>
            <td>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button class="btn btn-primary" [routerLink]="['/detail', employee.id]">
                    Részletek
                  </button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-warning" [routerLink]="['/edit', employee.id]">
                    Módosít
                  </button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-danger" id="{{ employee.id }}" (click)="deleteEmployee($event)">
                    Törlés
                  </button>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
