<div class="container mt-4">
  <div class="col-sm-6">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="sumbitEmployee()">
      <label for="name">Név</label>
      <input type="text" class="form-control mb-4" name="name" [(ngModel)]="employee.name" />
      <label for="username">Felhasználónév</label>
      <input type="text" class="form-control mb-4" name="username" [(ngModel)]="employee.username" />
      <label for="password">Jelszó</label>
      <input type="password" class="form-control mb-4" name="password" [(ngModel)]="employee.password" />
      <label for="identification">Azonosító</label>
      <input type="number" class="form-control mb-4" name="identification" [(ngModel)]="employee.identification" />
      <label for="username">Beosztás</label>
      <input type="text" class="form-control mb-4" name="username" [(ngModel)]="employee.workRole" />

      <div class="form-group">
        <label for="superior">Felettes:</label>
        <select class="form-control" name="superior" [(ngModel)]="selectedEmployee">
          <option *ngFor="let superior of superiors" value="{{ superior.id }}">{{ superior.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="organization">Szervezeti egység:</label>
        <select class="form-control" name="organization" [(ngModel)]="selectedOrganiztion">
          <option *ngFor="let organization of organizations" value="{{ organization.id }}">{{
            organization.name
          }}</option>
        </select>
      </div>

      <div>
        <button form="editForm" [disabled]="!editForm.dirty" class="btn btn-success">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
